{% extends "admin/base_site.html" %}
{% block content %}
	<div class="module">
        <h2>Enrollment and Payment Management Dashboard</h2>
        <form method="get" class="filter-form">
            <label>Student:</label>
            <input type="text" name="student" value="{{ request.GET.student }}">

            <label>Course:</label>
            <input type="text" name="course" value="{{ request.GET.course }}">

            <label>Academic Year:</label>
            <select name="academic_year">
                <option value="">All</option>
                {% for year in academic_years %}
                    <option value="{{ year.id }}" {% if request.GET.academic_year == year.id|stringformat:"i" %}selected{% endif %}>
                        {{ year.name }}
                    </option>
                {% endfor %}
            </select>

            <label>Payment Status:</label>
            <select name="payment_status">
                <option value="">All</option>
                {% for value, label in payment_statuses %}
                	<option value="{{ value }}" {% if request.GET.payment_status == value %}selected{% endif %}>
                        {{ label }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Course</th>
                    <th>Academic Year</th>
                    <th>Enrollment Date</th>
                    <th>Amount</th>
                    <th>Payment Status</th>
                    <th>Payment Date</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for enrollment in enrollments %}
                	<tr>
                        <td>{{ enrollment.student.username }}</td>
                        <td>{{ enrollment.course.title }}</td>
                        <td>{{ enrollment.academic_year.name }}</td>
                        <td>{{ enrollment.enrollment_date|date:"d/m/Y" }}</td>
                        <td>
                            {% if enrollment.payment %}
                            	{{ enrollment.payment.amount }}€
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if enrollment.payment %}
                            	{{ enrollment.payment.transaction.get_status_display }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if enrollment.payment %}
                            	{{ enrollment.payment.transaction.payment_date|date:"d/m/Y" }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'admin:courses_studentcourseenrollment_change' enrollment.id %}">Enrollment</a>
                            {% if enrollment.payment %}
                            	| <a href="{% url 'admin:courses_coursepayment_change' enrollment.payment.transaction.id %}">Payment</a>
                                {% if enrollment.payment.transaction.receipt_number %}
                                    | <a href="{% url 'admin_payment_receipt' enrollment.payment.transaction.id %}" target="_blank">View Receipt</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="8">No records</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if is_paginated %}
        	<div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page'  %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}

        <div class="actions">
            <a href="{% url 'admin:index' %}" class="btn btn-primary">Back</a>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const lastFocusedField = localStorage.getItem('lastFocusedField');
            const lastCursorPosition = localStorage.getItem('lastCursorPosition');

            if (lastFocusedField) {
                const field = document.querySelector(`[name="${lastFocusedField}"]`);

                if (field) {
                    field.focus();

                    if (field.type === 'text' && lastCursorPosition) {
                        field.setSelectionRange(parseInt(lastCursorPosition), parseInt(lastCursorPosition));
                    }
                }

                localStorage.removeItem('lastFocusedField');
                localStorage.removeItem('lastCursorPosition');

            }
        });

        const filterInputs = document.querySelectorAll('.filter-form input[type="text"], .filter-form select');

        filterInputs.forEach(input => {
            input.addEventListener('focus', function () {
                localStorage.setItem('lastFocusedField', this.name);

                if (this.type === 'text') {
                    this.addEventListener('click', function () {
                        localStorage.setItem('lastCursorPosition', this.selectionStart);
                    });
                    this.addEventListener('keyup', function () {
                        localStorage.setItem('lastCursorPosition', this.selectionStart);
                    });
                }
            });

            input.addEventListener('change', function () {
                localStorage.setItem('lastFocusedField', this.name);

                if (this.type === 'text') {
                    localStorage.setItem('lastCursorPosition', this.selectionStart);
                }
                document.querySelector('.filter-form').submit();
            });
        });

        const textInputs = document.querySelectorAll('.filter-form input[type="text"]');
        let typingTimer;

        textInputs.forEach(input => {
            input.addEventListener('input', function () {
                clearTimeout(typingTimer);
                typingTimer = setTimeout(() => {
                    localStorage.setItem('lastFocusedField', this.name);
                    localStorage.setItem('lastCursorPosition', this.selectionStart);
                    document.querySelector('.filter-form').submit();
                }, 500);
            });
        });
    </script>
{% endblock %}